:root {
  --foreground-rgb: #171717;
  --background-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-rgb: #171717;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
